

.column {
	float: left;
	padding: 5%;
	width: 50%;
	box-sizing: border-box;
	margin-top: auto;
	margin-bottom: 0;
	justify-content: center;
	font-size: 1.5em;
	vertical-align: center;
}

.project_list_info
{
	padding-top: 1em;
	padding-bottom: 1em;
	justify-content: center;
	display: flex;
	align-items: center;

}

.project_list_info_text text
{
	padding-left: 1em;
	padding-right: 1em;
	display: inline;
	width: 50%;
	font-size: 1.5em;
	text-align: center;
	
}

.project_list_info_arrow text
{

	display: inline;
	width: 10%;
	font-size: 1.5em;
	text-align: center;


}

.picture {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: auto;
	align-items: center;
	display: block;
}

.video iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto;
}

.video_portfolio iframe {
	aspect-ratio: 16 / 9;
	width: 40%;
	height: auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
	box-sizing: border-box;
}

.navbar {
	float: right;
	user-select: none;
	cursor: pointer;
	display: inline;
	vertical-align: center;
}

.navbar text {
	font-weight: bold;
	justify-content: center;
	padding: 1.88em;
}

.navbar text:hover {
	background-color: white;
	outline: 2px solid #000000;	
}

.name {
	display: inline;
	width: 20%; 
}

.body {
	margin: 0;
	padding: 0;
	background-color: #bfbfbf;
	font-family: monospace;
}

.navbar-background {
	font-size: 15px;
	background-color:gray;
	padding: 1em;
	line-height: 2em;

}

.bio_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
	gap: 5%;
}

.bio_buttons button {

}

.bio_link button {
	font-size: 40px;
	font-family: monospace;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.project_list {
	padding: 0.5%;
	text-align: center;
}

.project_entry {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 0%;
	user-select: none;
	padding-top: 1%;
}

.project_entry:hover {
	background-color: white;
	cursor: pointer;
}
.project_entry text {
	font-size: 1.5em;
	text-align: center;
	display: block;
	padding-bottom: 1%;
}

.project_entry h2 {
	text-align: center;
}

hr.dashed {
	border-top: 2px dashed #bbb;
	border-bottom: 2px dashed #bbb;
	border-left: 2px dashed #bbb;
	border-right: 2px dashed #bbb;
	border-color: #000000;
	margin-bottom: 0%;
}

.project_list h2 {
	margin: 0%;
}

.video_subtitle p {
	font-size: 0.8em;
}

@media screen and (max-width: 1150px) {
	.column {
		width: 100%;
	}
	.navbar text {
		font-weight: bold;
		justify-content: center;
		padding: 1em;
		display: block;
		text-align: right;
		font-size: 2.5em;
		line-height: 1em;

	}
	.navbar {
		user-select: none;
		cursor: pointer;
		vertical-align: middle;
		line-height: 1em;
		width: 50%;
		box-sizing: border-box;
	}
	.name {
		margin-top: auto;
		margin-bottom: auto;
		width: 40%;
		text-align: center;
		vertical-align: middle;
		font-size: 2.5em;
		line-height: 1em;
	}
	.picture {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		height: auto;
		display: block;
	}
	.navbar-background {
		background-color:gray;
		display: flex;
		vertical-align: middle;
	}
	.mobile_link a {
		width: 100%;
	}
	
	.body {
		font-size: 2em;
	}
	
	.video_portfolio iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto;
}


}