.App {
    align-self: flex-start;
    flex-direction: row;
    display: flex;
}

.sidebyside_left {
    text-align: left;
    width: 30%;
    min-height: 100vh;
    background-color: #c4c4c4;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    box-sizing: border-box;
    color: #000000;
    align-self: stretch;
}

.sidebyside_right {
    text-align: right;
    width: 70%;
    min-height: 100vh;
    background-color: #e3e3e3;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    color: #000000;
    align-self: stretch;
}

.infoside {
    display: block;
    text-align:center;
    float: none;
    width: 100%;
    align-self: flex-start;
}

@media (orientation: portrait) {
    .App {
        display: block;
    }
    
    .sidebyside_left {
        display: block;
        float:none;
        width: 100%;
        min-height: unset;
        padding-bottom: 30px;
    }

    .sidebyside_right {
        display: block;
        float: none;
        width: 100%;
        height: unset;
        overflow: visible;
    }
}
