.App {
    flex-direction: row;
    display: flex;

}

.sidebyside_left {
    width: 30%;
    min-height: 100vh;
    background-color: #fafafa;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    box-sizing: border-box;
    color: #000000;
    align-self: stretch;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 13;
}

.sidebyside_right {
    width: 70%;
    min-height: 100vh;
    background-color: #ffffff;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    color: #000000;
    align-self: stretch;
}

.infoside {
    display: block;
    text-align:center;
    float: none;
    width: 100%;
    align-self: flex-start;
}

@media (orientation: portrait) {
    .App {
        display: block;
        position: absolute;
    }
    
    .sidebyside_left {
        display: block;
        width: 100%!important;
        padding-bottom: 30px;
        min-height: 0vh;
    }

    .sidebyside_right {
        display: block;
        width: 100%!important;
        overflow: visible;
    }
}
