.entrylist {
    box-sizing: border-box;
    min-height: 90vh;
}

.entry-div {
    width: 80%;
    color: black;
    border: solid;
    border-width:thin;
}

@media (orientation: portrait) {
    .entrylist {
        overflow-y: initial;
        overflow-x: initial;
        height: auto;
    }
}