.entry {
    box-sizing:border-box;
    padding: 1em 1em;
}

.entry_imgdesc {
    font-size: 14px;
    line-height: 0.5;
}

.title {
    display: block;
    width: 100%;
}

.img_projectEntry {
    max-height: 20vh;
}

.img_projectEntry:hover {
    cursor: pointer;
}

.leftcolumn {
    display: inline-flex;
    justify-content: center;
    width: 50%;
    max-width: 500px;
}

.leftcolumn_internal {
    display: block;
}

.rightcolumn {
    display: inline-flex;
    text-align: left;
    width: 50%;
    padding-left: 1em;
    vertical-align:top;
}

.centercolumn {
    display: block;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}
.centercolumn p {
        text-align: center;
}

@media (orientation: portrait) {
    .entry_imgdesc {
        line-height: 1;
    }

    .leftcolumn {
        width: 100%;
    }

    .rightcolumn {
        width: 100%;
        padding-left: 0;
    }

    .img_projectEntry {
        max-width: 90vw;
        max-height: unset;
    }
}