.gallerybackground {
    width:100vw;
    height:100vh;
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.galleryforeground {
    position: relative;
    top: 10vh;
    left: 10vw;
    width: 80%;
    height: 80%;
    display: flex;
    background-color: rgb(69, 69, 69, 1);
}

.galleryforeground_internal {
    position: unset;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow:column;
    overflow-x: scroll;
    overflow-y: clip;
    gap: 50px;
    grid-template-rows: 40% 40%;
    justify-items: center;
    align-items: center;

}

.galleryimage {
    max-width: 40vh;
    max-height: 22.5vh;

}

.galleryiframediv {

    width: 40vh;
    height: 22.5vh;

}

.galleryiframe {
    width: 100%;
    height: 100%;
}


.galleryexit {
    position: absolute;
    top: 0;
    right: 0;
    float: right;

}

.galleryexit_button {
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    font-size: 4vh;
    border:none;
    padding-right: 12px;
    font-family: sans-serif;
}

.galleryexit_button:hover {
    cursor:pointer;
}

@media (orientation: portrait) {
    
    .galleryforeground {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .galleryforeground_internal {
        overflow-x: clip;
        overflow-y: scroll;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-auto-flow: row;
    }
    
    .galleryimage {
        display: block;
    }

    .galleryiframediv {
        display: block;
    }

    .galleryexit {
        right: 2vh;
    }
}