
.sectionSelector {
    border-radius: 0px;
    height: 10vw;
    max-height: 10vh;
    width: 33.33%;
    box-sizing: border-box;
    font-size: min(3vw, 30px);
    font-family: Arial;
    font-weight: bold;
    background-color: #525252;
    border: none;
    color: white;

}
.sectionSelector_div {
    position: sticky;
    display: block;
    top: 0;
    z-index: 12;
}

.sectionSelector:disabled {
    background-color: #ffffff;
    color: black;
    border-color: #ffffff;
}

.sectionSelector:enabled:hover {
    background-color: gray;
    cursor:pointer;
}