.userprofile {
    text-align: center;
    height: auto;
    align-self: flex-start;
}

.img {
    width: 30%;
    min-width: 0px;
}

.p {
    font-size: 20px;
    min-width: 0px;
    text-align: left;
}

.resumebutton {
    margin-top: 30px;
    background-color: #000000;
    border: none;
    font-size: 3vh;
    font-family: Arial;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}

    .resumebutton:hover {
        background-color: gray;
        cursor: pointer;
    }