.userprofile {
    text-align: center;
}

.img {
    width: 30%;
    min-width: 0px;
}

.p {
    font-size: 20px;
    min-width: 0px;
    text-align: left;
}

.resumebutton {
    background-color: #000000;
    border: none;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.resumebutton:hover {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}